{{ define "homepageMain" }}
<section class="section container-fluid mt-n3 pb-3"
         style="background-image:linear-gradient(rgba(20,30,38, 0.1),
                rgba(24,44,54, 0.3)), url('cosmic.jpg');
                background-size:200%;
                background-position:50% 70%;">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0" style="color:white;"> {{ .Title }} </h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead" style="color:white;">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
      <p class="meta" style="color:white;">Open-source MIT Licensed.</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Object Oriented Programming (S4)</h2>
        <p>Implemented in an object-oriented programming style, with all data stored in a single object (i.e. 'mcnebula')</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Extensive documentation for Usage</h2>
        <p>Provides annotated instructions for each user-level Method and Function, with demo data and demo codes, and detailed descriptions in the necessary sections</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Customizable output reports</h2>
        <p>Design presence of basic workflow modules (relatively fixed) and custom modules (flexible deployment in combination with other R code)</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Visualization with ggplot2 package</h2>
        <p>The object 'ggset' was designed to wrap our pre-defined visualization functions and parameters (these are all ggplot2 functions and parameters).</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Customizable analysis process</h2>
        <p>The 'filter_*' series is a filtering step for candidates of molecular formula, structural formula or chemical class; The '*stardust*' series filters out Critical chemical classes for visualization; 'backtrack_stardust' method for backtracking the filtered out chemical classes...</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Intuitive and elegant visualization</h2>
        <p>With a clean and bright color palette favored by various top magazines provided by the 'ggsci' package.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
